ion-button {
    background-color: #01da83;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

ion-header {
    --background-color: #01da83;
    --justify-content: space-around;
    --align-items: center;
}

ion-toolbar {
    --justify-content: space-around;
   --align-items: center;
    --background-color: #fff;
}

ion-card {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

ion-tab-button {
    background-color: #fff;
}

ion-tab-bar {
    
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    overflow: hidden;
}

ion-tab-bar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

ion-tab-bar a:hover {
    color: #01da83;
}
